.for-who {
  $root: &;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 7%;
    width: 80px;
    height: 80px;
    background-image: url(/img/circle-green-small.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 400px) {
      top: 120px;
      left: -13px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 55%;
    right: 7%;
    width: 415px;
    height: 415px;
    background-image: url(/img/circle-green-big.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 400px) {
      top: 63%;
      right: -50%;
    }
  }

  background: linear-gradient(
      248.29deg,
      #ced8ff -1.48%,
      rgba(255, 255, 255, 0) 91.31%
    ),
    radial-gradient(
      70.83% 173.53% at 4.58% 5.82%,
      #7c90dd 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #e0f5d8;
  background-blend-mode: overlay, overlay, normal;

  &__wrap {
    padding-top: 45px;
    padding-right: 160px;
    padding-bottom: 27px;
    position: relative;
    z-index: 1;

    @media (max-width: 1300px) {
      padding-right: 100px;
    }

    @media (max-width: 600px) {
      padding-bottom: 130px;
    }
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    color: #434758;
    margin-top: 0;
    margin-bottom: 27px;
    width: 45%;

    @media (max-width: 1300px) {
      width: 65%;
    }

    @media (max-width: 1000px) {
      width: auto;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__list,
  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: 2fr;
    column-gap: 63px;
    padding-left: 96px;

    @media (max-width: 1300px) {
      padding-left: 0;
    }

    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 0 20px 12px;
    background-color: #208359;
    box-shadow: 0px 0px 40px rgba(32, 131, 89, 0.5);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;

    @media (max-width: 600px) {
      margin-bottom: 20px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        width: 26px;
        height: 26px;
        transform: translateY(-25%);
        transition: transform 0.3s;
        background-image: url(/img/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      &_opened {
        background-color: #fff;
        color: #434758;
        &::after {
          transform: translateY(-50%);
          background-image: url(/img/arrow-up-green.svg);
        }

        & + #{$root}__sublist {
          display: flex;
        }
      }
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      display: none;
      margin-bottom: 60px;
      margin-top: 20px;
    }
  }

  &__subitem {
    position: relative;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 19px;
    color: #434758;
    padding-left: 45px;
    margin-bottom: 10px;

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #434758;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
