.header {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        213.04deg,
        #d5f5ca 12.79%,
        rgba(206, 216, 255, 0) 88.16%
      ),
      radial-gradient(
        90.32% 190.53% at 5.38% -12.63%,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #7c90dd;
    opacity: 0.2;
  }

  &__wrap {
    padding-top: 63px;
    position: relative;
    z-index: 1;

    @media (max-width: 1230px) {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    @media (max-width: 400px) {
      padding-top: 0;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
    }

    &::before {
      background-image: url(/img/little-circle.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 80px;
      top: 8%;
      left: 8%;

      @media (max-width: 375px) {
        width: 124px;
        height: 128px;
        top: 26%;
        left: -17%;
      }
    }

    &::after {
      background-image: url(/img/big-circle.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 400px;
      height: 400px;
      top: 34%;
      right: 3%;

      @media (max-width: 1100px) {
        right: 0;
      }

      @media (max-width: 600px) {
        top: 22%;
        right: -48%;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 124px;

    @media (max-width: 1230px) {
      margin-right: 35px;
    }
  }

  &__burger {
    border: none;
    height: 64px;
    width: 56px;
    background-color: transparent;
    background-image: url(/img/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      background-image: url(/img/burger-hover.svg);
    }

    @media (max-width: 1100px) {
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 2;
    }
  }

  &__nav-wrap {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    background-color: #fff;
    width: 300px;
    z-index: 2;
    padding-top: 63px;
    filter: drop-shadow(-27px 0px 91px rgba(206, 216, 255, 0.5));
    transition: right 0.2s ease-in-out;

    &_opened {
      right: 0;
    }
  }

  &__nav-btn {
    background-color: #7c90dd;
    border-radius: 5px;
    position: relative;
    width: 40px;
    height: 32px;
    border: none;
    margin-bottom: 15px;
    margin-left: 37px;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 9px;
      background-image: url(/img/arrows-right-white.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 24px;
      height: 24px;
    }
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-item {
    font-weight: 600;

    color: #7c90dd;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #434758;
    }
  }

  &__nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 37px;
  }

  &__main {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    height: 653px;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-right: 0;
    }

    @media (max-width: 375px) {
      width: 95%;
    }
  }

  &__img-container {
    transform: translateY(-82px) translateX(37px);
    width: 582px;
    height: 717px;

    @media (max-width: 1100px) {
      width: 670px;
      transform: none;
    }

    @media (max-width: 600px) {
      width: 470px;
      height: 560px;
    }

    @media (max-width: 450px) {
      width: auto;
      height: 460px;
    }

    @media (max-width: 375px) {
      height: 360px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__profession {
    font-size: 16px;
    line-height: 19px;
  }

  &__about-name,
  &__about-profession {
    margin: 0;
    display: none;
    position: relative;

    @media (max-width: 1100px) {
      display: block;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    margin-right: 100px;

    @media (max-width: 1230px) {
      margin-right: 34px;
    }

    @media (max-width: 1100px) {
      padding-top: 65px;
      margin-right: 0;
    }

    @media (max-width: 375px) {
      padding-top: 13px;
      position: relative;
    }
  }

  &__info-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;

    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: 1100px) {
      margin-left: 100px;
      width: 80%;
    }

    @media (max-width: 800px) {
      margin-left: 40px;
    }

    @media (max-width: 600px) {
      margin-left: 15px;
      width: auto;
      font-size: 38px;
      line-height: 41px;
      margin-bottom: 30px;
    }

    @media (max-width: 375px) {
      padding-right: 5px;
    }
  }

  &__info-slogan {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 54px;
    margin-top: 0;

    @media (max-width: 1100px) {
      margin-left: calc(100px + 20px);
      margin-bottom: 75px;
    }

    @media (max-width: 800px) {
      margin-left: calc(40px + 20px);
    }

    @media (max-width: 600px) {
      margin-left: calc(15px + 20px);
      font-size: 16px;
      line-height: 19px;
    }

    @media (max-width: 375px) {
      margin-bottom: 49px;
    }

    &::before {
      content: "";
      width: 297px;
      left: 0;
      top: -10px;
      height: 44px;
      position: absolute;
      background-color: #ced8ff;
      border-radius: 5px;
      z-index: -1;

      @media (max-width: 600px) {
        width: 208px;
      }

      @media (max-width: 375px) {
        height: 33px;
        top: -7px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -24px;
      top: -10px;
      z-index: -1;
      width: 48px;
      height: 48px;
      background-image: url(/img/lattice.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 375px) {
        width: 31px;
        height: 31px;
        left: -23px;
        top: -7px;
      }
    }
  }

  &__info-name,
  &__info-profession {
    display: block;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__info-name {
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__info-profession {
    margin-bottom: 100px;
    margin-top: 0;
  }

  &__links-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 115px;

    @media (max-width: 1230px) {
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
    }

    @media (max-width: 1100px) {
      align-items: center;
      width: 100%;
    }

    @media (max-width: 375px) {
      padding-bottom: 0;
    }
  }

  &__info-application {
    width: fit-content;
    margin-right: 30px;

    @media (max-width: 1230px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__info-works {
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.2s ease, color 0.2s ease;
    position: relative;
    z-index: 1;

    @media (max-width: 1230px) {
      align-self: center;
    }

    &:hover {
      color: #7c90dd;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__scroll {
    transform: rotate(-90deg);
    color: #7c90dd;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    width: fit-content;
    padding-left: 60px;
    position: absolute;
    margin: 0;
    margin-bottom: 40px;
    left: calc(50% - 40px);
    bottom: 0;

    @media (max-width: 600px) {
      font-weight: 400;
    }

    @media (max-width: 375px) {
      right: -10px;
      top: 66%;
      left: auto;
      bottom: auto;
    }

    @media (max-width: 350px) {
      display: none;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
    }

    &::after {
      width: 29px;
      height: 1px;
      background-color: #7c90dd;
      bottom: 6px;
      left: 23px;
    }

    &::before {
      width: 26px;
      height: 26px;
      background-image: url(/img/arrows-scroll-down.svg);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -6px;
      left: 0;
      transform: rotate(90deg);
    }
  }
}
