.application-btn {
  border: 1px solid transparent;
  color: inherit;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  cursor: pointer;

  &_blue {
    border: none;
    color: #fff;
    padding: 21px 90px;
    background: radial-gradient(
        181.67% 208.33% at 22.5% -120.83%,
        #ced8ff 0%,
        rgba(206, 216, 255, 0) 100%
      ),
      #7c90dd;
  }

  &_white {
    border: 1px solid #ced8ff;
    font-weight: 600;
    background-color: #fff;

    padding: 12px 90px;

    &:hover {
      border: 1px solid transparent;
      color: #fff;
    }
  }

  &:hover {
    background-color: #434758;
  }

  &:active {
    opacity: 0.5;
  }
}
