.needs {
  &__want {
    background: linear-gradient(
        325.66deg,
        rgba(224, 245, 216, 0.5) 2.88%,
        rgba(224, 245, 216, 0.045) 89.14%
      ),
      #7c90dd;
    position: relative;

    &::after {
      content: "";
      width: 484px;
      height: 400px;
      position: absolute;
      bottom: -174px;
      right: 0;
      background-image: url(/img/needs-circles.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 400px) {
        background-image: url(/img/needs-circles-mobile.svg);
        top: 80%;
        width: 255px;
        height: 70%;
      }
    }
  }

  &__wrap {
    padding-top: 35px;
    padding-right: 430px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
      padding-top: 25px;
      padding-bottom: 60px;
    }

    @media (max-width: 400px) {
      padding-top: 17px;
      padding-bottom: 56px;
    }
  }

  &__can-wrap {
    padding-top: 60px;
    padding-right: 320px;
    padding-bottom: 41px;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
      padding-top: 40px;
    }

    @media (max-width: 400px) {
      padding-top: 36px;
      padding-left: 15px;
      padding-bottom: 66px;
    }
  }

  &__wrap,
  &__can-wrap {
    @media (max-width: 1435px) {
      padding-right: 130px;
    }
  }

  &__want-title {
    font-family: Georgia;
    font-style: italic;
    font-weight: 700;
    font-size: 72px;
    line-height: 79px;
    color: #fff;
    margin-bottom: 46px;

    @media (max-width: 750px) {
      font-size: 68px;
      line-height: 60px;
      margin-bottom: 40px;
    }

    @media (max-width: 400px) {
      font-size: 48px;
      line-height: 52px;
    }
  }

  &__want-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 700px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__want-item {
    padding: 4px 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #434758;
    background-color: #e0f5d8;
    margin-right: 20px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      margin-right: 0px;
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: 400px) {
        margin-bottom: 0;
      }
    }
  }

  &__want-text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 28px;

    @media (max-width: 400px) {
      margin-bottom: 20px;
    }
  }

  &__want-wrap {
    display: flex;
    align-items: center;

    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__want-subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-right: 77px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;

    @media (max-width: 750px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__can {
    background: radial-gradient(
        39.9% 140.36% at 84.41% -71.43%,
        #7c90dd 0%,
        rgba(124, 144, 221, 0) 100%
      ),
      #434758;
  }

  &__can-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__can-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: calc(40px + 11px);
    column-gap: 60px;
    row-gap: 12px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__can-item {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: #ced8ff;
  }

  &__can-btn {
    padding: 11px 41px;
    background: #fff;
    border: 1px solid #ced8ff;
    border-radius: 8px;
    color: #434758;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;

    &:hover {
      color: #fff;
      background-color: #434758;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
