.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  @media (max-width: 350px) {
    font-size: 28px;
  }

  &_white {
    color: #fff;
  }

  &_green {
    color: #208359;
  }
}
